<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>title</title>
    </head>
    <body>
        <h1>Search employee</h1>
        <form>
            <label for="id">Employee id:</label>
            <input type="text" name="id" id="id" th:value="${id_serch}" />
            <input type="submit" name="find" value="Get Employees" />
        </form>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contract Type Name</th>
                <th>Role Id</th>
                <th>Role Name</th>
                <th>Role Description</th>
                <th>Hourly Salary</th>
                <th>Monthly Salary</th>
                <th>Annual Salary</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}" ></td>
                <td th:text="${employee.name}" ></td>
                <td th:text="${employee.contractTypeName}" ></td>
                <td th:text="${employee.roleId}" ></td>
                <td th:text="${employee.roleName}" ></td>
                <td th:text="${employee.roleDescription}" ></td>
                <td th:text="${employee.hourlySalary}" ></td>
                <td th:text="${employee.monthlySalary}" ></td>
                <td th:text="${employee.annualSalary}"></td>
            </tr>
        </table>
    </body>
</html>

